.boardMainDiv {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameInfo {
    color: #807f7f;
    font-size: large;
    margin-bottom: 4px;
}  